/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 abr 2023, 11:45:34
    Author     : ruben
*/

.text-input{
    -fx-background-radius: 20;
    -fx-text-fill: #fff;
    -fx-prompt-text: #D4CEE3;
}

.button1{
    -fx-background-color: #856FE8;
    -fx-text-fill: #fff;
}

.button1:hover{
    -fx-background-color: #7460CC;
}

.button1:pressed{
    -fx-text-fill: #80AFF5;
}

.button1:active{
    -fx-text-fill: #80AFF5;
}

.button2{
    -fx-background-color: #C1B2E1;
    -fx-background-radius: 5;
    -fx-text-fill: #371897;
}

.button2:hover{
    -fx-transition: 1s;
    -fx-background-color: #9999ff;
}

.button3{
    -fx-background-color: linear-gradient(to top left, #35ACF1, #F6B46F);
    -fx-background-radius: 12;
    -fx-border-style: solid;
    -fx-border-radius: 12;
    -fx-border-insets: -5;
    -fx-border-color: linear-gradient(to top left,  #F6B46F, #35ACF1);
}

.button3:hover{
    -fx-background-color: linear-gradient(to top left, #F6B46F, #35ACF1);
    -fx-background-radius: 12;
    -fx-border-style: solid;
    -fx-border-radius: 12;
    -fx-border-insets: -5;
    -fx-border-color: linear-gradient(to top left,  #F6B46F, #35ACF1);
}

.button3:pressed{
    -fx-background-color: linear-gradient(to top left, #35ACF1, #F6B46F);
    -fx-background-radius: 12;
    -fx-border-style: solid;
    -fx-border-radius: 12;
    -fx-border-insets: -5;
    -fx-border-color: linear-gradient(to top left, #35ACF1, #F6B46F);
}

.button4{
   -fx-background-color: linear-gradient(to top left, #41951C, #D4CEE3);
   -fx-background-radius: 30 30 30 30;
}

.button4:hover{
    -fx-background-color: linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius: 30 30 30 30;
}

.button4:pressed{
   -fx-background-color: linear-gradient(to top left, #41951C, #D4CEE3);
   -fx-background-radius: 30 30 30 30;
}

.linear-grad{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}

.clickable-label:hover{
    -fx-font-weight: bold;
}

.buttonWithoutStyles {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}